<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport">  
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
            <h3>Forgot Password</h3>
        </div>
            <input matInput placeholder="your email" value="Aca">
          <div class="uk-flex uk-flex-right">
              <div class="uk-width-expand">
                <button mat-button routerLink="/register">Create Account</button>
                <button mat-button>Forgot</button>
              </div>
              <button mat-raised-button color="primary">SEND</button>
          </div>
</div>
