<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" style="background-image: url('assets/wp_1.jpg'); background-size: cover; background-position: center;">  
      <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
          <h3>Login</h3>
      </div>
            <input matInput placeholder="Ex. email@domain.com" [(ngModel)="user.email"][formControl]="email" required>
          <button mat-icon-button matSuffix(click)="hide =!hide">
          </button>
            <input matInput type="password" placeholder="Your password" value="Aca">
          <div class="uk-flex uk-flex-right">
              <div class="uk-width-expand">
                <button mat-button routerLink="/register">Create account</button>
              </div>
              <button mat-raised-button color="primary" (click)="login (user)"[disabled]="loading || email.hasError('email') || email.hasError('required') || password.hasError('required') || password.hasError('minlength')">{{loading ? 'TUNGGU..':'LOGIN'}}</button>
          </div>