<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport">  
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
            <h3>Register</h3>
        </div>
            <input matInput placeholder="Ex. email@domain.com" [(ngModel)="user.email"][formControl]="email" required>
          <button mat-icon-button matSuffix(click)="hide =!hide">
          </button>
            <input matInput type="password" placeholder="Your password" value="Aca">
              <div class="uk-width-expand">
                <button mat-button routerLink="/login">I have an account</button>
                <button mat-button routerLink="/forgot">Forgot</button>
              </div>
